<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>An Awesome Website!</title>
  </head>
  <body>
    <form
      method="POST"
      action="/upload-profile-pic"
      enctype="multipart/form-data"
    >
      <div>
        <label for="profile_pic">Select your profile picture:</label>
        <input type="file" id="profile_pic" name="profile_pic" />
      </div>
      <div>
        <input type="submit" value="Upload" />
      </div>
    </form>
    <br />
    <hr />
    <br />
    <form method="POST" action="/upload-cat-pics" enctype="multipart/form-data">
      <div>
        <label for="cat_pics">Select your cat pictures:</label>
        <input type="file" name="cat_pics" id="cat_pics" multiple />
      </div>
      <div>
        <input type="submit" value="Upload Cat Pics" />
      </div>
    </form>
    <a href="/get-pics">See all pictures stored!</a>
  </body>
</html>
