<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello <%= username %>!</h1>
    <p>This is your very own dashboard! :D</p>
    <a href="logout">Logout</a>
  </body>
</html>
