<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <% if (myTitle) { %>
    <h1><%= myTitle %></h1>
    <% } %>
  </body>
</html>
