<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <h1>Here is a list of all our users</h1>
    <!-- All users go here -->
    <% users.map((user) => { %>
    <li><%= user %></li>
    <% }); %>
  </body>
</html>
